<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417245324345-lc3thrtvou90fijd16ahc07jd05bfb5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417245324345-lc3thrtvou90fijd16ahc07jd05bfb5e</string>
	<key>API_KEY</key>
	<string>AIzaSyDlXZf_8MDpQUU43BZv7opYkhG-yvUxf2w</string>
	<key>GCM_SENDER_ID</key>
	<string>417245324345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.autoiran</string>
	<key>PROJECT_ID</key>
	<string>autoiran-5818f</string>
	<key>STORAGE_BUCKET</key>
	<string>autoiran-5818f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417245324345:ios:396fe17b74af50bf8119e8</string>
	<key>DATABASE_URL</key>
	<string>https://autoiran-5818f.firebaseio.com</string>
</dict>
</plist>